:root {
	--firstcolor: #0036D0;
	--secondcolor: #24C6D8;
	--threecolor: #EDEBED;
}
* {font-family:'Roboto+Mono';
}

body {
	margin: 0;
	position: relative;
	box-sizing: border-box;
	background-color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;

}

header .container {
	height: 80px;
	width: 1200px;
	background-color: var(--firstcolor);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo img {
	width: 60px;
	height: 60px;
	color: var(--threecolor);
}

.menu ul {
	display: inline-block;
	margin-left: 20px;
}

.menu ul a {
	text-decoration: none;
	color: var(--threecolor);
}

.menu li {
	list-style: none;
	text-transform: uppercase;
	margin-left: 20px;
	font-size: 20px;
	font-family: Roboto mono;
	display: inline-block;
}

.active,
.menu li:hover{
	border-bottom: 3px solid var(--secondcolor);
}

.banner .container {
	background-color: var(--secondcolor);
	width: 1200px;
	height: calc(100vh - 80px);
}

.banner .container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.banner .container img {
	padding-right: 100px;
	width: 400px;
	height: 550px;
	background-size: cover;
}

.banner .container .myname {
	Color: var(--threecolor);
	margin-left: 25px;
	align-items: center;
	line-height: 10px;
}

.myname h1 {
	font-size: 45px;
	font-family: Roboto mono;
	font-weight: bold;		
}

.myname h2 {
	font-size: 45px;
	font-family: Roboto mono;
	font-weight: 600;
}

.myname a {
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Roboto mono;
	color: var(--threecolor);
	font-size: 30px;
	font-weight: 300;
	background-color: var(--firstcolor);
	border-radius: 20px;
}


.description {
	width: 1200px;
	height: 110vh;
	background-color: #CCC;
	display: flex;
	justify-content: space-between;
}

.description img {
	width:605px;
	height: 500px;
	margin-top: 85px;
	margin-left: 10px;
}

.description .jobdescription {
	margin-left: 30px;
	margin-top: 150px;
}


.jobdescription h3,
.jobdescription h1 {
	color: var(--firstcolor);
	font-family: Roboto mono;]
	font-weight: bold;
	font-size: 25px;
	line-height: 10px;
}

.jobdescription p {
	color: var(--firstcolor);
	font-family: Roboto mono;
	font-weight: 600;
	text-align: left;

}


.techdescription {
	width: 1200px;
	height: 100vh;
	background-color: var(--threecolor);
	display: flex;
	flex-direction: column;
}

.techname {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	margin-top: 20px;
	line-height: 10px;
}

.techname h1 {
	font-family: Roboto mono;
	font-size: 35px;
	font-weight: bold;
	color: var(--firstcolor);
}


.techname h3 {
	font-family: Roboto mono;
	font-size: 25px;
	font-weight: 300;
	color: var(--firstcolor);
}


.techimage {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

}


.techdescription img {

	width: 130px;
	height: 150px;
	margin-top: 80px;
	margin-right: 40px;
	margin-left: 40px;
	cursor: pointer;
}

.techimage .htmldesc {
	display: block;
	background-color: #ff5722;
	padding: 10px;
	width: 110px;
	margin-top: 10px;
	margin-left: 40px;
	border: 1px solid #555;
	border-radius: 10px;
	text-align: center;
}

.techimage .htmldesc:hover {
	display: none ;
}


.techimage .cssdesc {
	display: block;
	background-color:#2196f3;
	padding: 10px;
	width: 110px;
	margin-top: 15px;
	margin-left: 40px;
	border: 1px solid #555;
	border-radius: 10px;
	text-align: center;
}

.techimage .jsdesc {
	display: block;
	background-color: #ffdf00;
	padding: 10px;
	width: 110px;
	margin-top: 15px;
	margin-left: 40px;
	border: 1px solid #555;
	border-radius: 10px;
	text-align: center;
}

.techimage .gitdesc {
	display: block;
	background-color: #fc573b;
	padding: 10px;
	width: 110px;
	margin-top: 15px;
	margin-left: 40px;
	border: 1px solid #555;
	border-radius: 10px;
	text-align: center;
}

.techimage .githubdesc {
	display: block;
	background-color: #111;
	color: #FFF;
	padding: 10px;
	width: 110px;
	margin-top: 15px;
	margin-left: 40px;
	border: 1px solid #555;
	border-radius: 10px;
	text-align: center;
}